{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name, 'Nom de l\'habitat', { 'class': 'form-label' }) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description', { 'class': 'form-label' }) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" class="btn btn-success w-100">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
